/*!-----------Index--------------*/

@media screen and (max-width:1080px){
    main .hero h2{
        color: #FAE7C8;
        font-size: 50px;
    }
    
    main .hero p{
        color: #FAE7C8;
        font-size: 30px;
        font-weight: 40px;
    }
    
    main .hero {
        text-align: center;
        height: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(../img/bookshop-para\ hero\ section.jpg)
    }
    
    main .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    main .hero img{
        width: 400px;
        height: 500px;
    }
}

@media screen and (max-width:919px){

    header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    }

    main .bienvenida{
        display: flex;
        flex-direction: column;
        margin: 30px;
        justify-content: space-evenly;
    }
    
    main .bienvenida div{ 
        display: flex;
        width: 100%
    }
    
}

@media screen and (max-width:803px){
    main .invitaci칩n{
        display: flex;
        flex-direction: column;
        margin: 30px;
        justify-content: space-around;
    }
    
    main .invitaci칩n div{
        display: flex;
        width: 100%;
    } 

    main .invitaci칩n img{
        display: none;
    }

    main .bienvenida{
        display: flex;
        flex-direction: column-reverse;
        margin: 30px;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:679px){
    header nav ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2px;
    }
    
    header nav ul li{
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    header nav ul li:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    
    header nav ul li:nth-child(2){
        grid-column: 1;
        grid-row: 3;
    }
    
    header nav ul li:nth-child(3){
        grid-column: 2;
        grid-row: 2;
    }
    
    header nav ul li:nth-child(4){
        grid-column: 3;
        grid-row: 1;
    }
    
    header nav ul li:nth-child(5){
        grid-column: 3;
        grid-row: 3;
    }
    
}

@media screen and (max-width:465px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    header h1 img{
        height: 90px;
    }

    main .hero h2{
        color: #FAE7C8;
        font-size: 30px;
    }
        
    main .hero p{
        color: #FAE7C8;
        font-size: 20px;
        font-weight: 30px;
    }

    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
}

    header nav ul li{
        margin: 7px;
        font-size: 20px;
    }

    footer{
        flex-wrap: wrap;
    }
}

/*!-----------MEDIA QUERIES actividades--------------*/

@media screen and (max-width: 523px){
    main .suscribite h2{
        color: #58b422;
        font-size: 40px;
    }
    
    main .suscribite p{
        color: #58b422;
        font-size: 30px;
    }
}

/*!-----------MEDIA QUERIES sobre nosotros--------------*/

@media screen and (max-width: 1049px){
    main .nosotros{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 751px){
    main .nosotros div {
        font-size: 20px;
        text-align: center;
    }
    
    main .nosotros img{
        width: 500px;
}
}

@media screen and (max-width: 578px){
    main .nosotros img{
        width: 300px;
    }
}

/*!-----------MEDIA QUERIES cat치logo--------------*/

@media screen and (max-width: 961px){
    main .catalogo .libros{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; 
    }  
    main .catalogo .libros div{
        width: 100%; 
        max-width: none;
        border: 2px rgb(0, 0, 0);
        width: 200px;
        height: 400px;
        margin: 20px;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 6px rgba(24, 34, 26, 0.507);
        flex-grow: 1; 
    }
    main .catalogo .libros div img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }      
}

@media screen and (max-width: 757px){
    main .catalogo .libros{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }  
    main .catalogo .libros div{
        width: 100%; 
        max-width: none;
        border: 2px rgb(0, 0, 0);
        width: 200px;
        height: 400px;
        margin: 20px;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 6px rgba(24, 34, 26, 0.507);
        flex-grow: 1; 
    }
    main .catalogo .libros div img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }      
}

@media screen and (max-width: 495px){
    main .catalogo .libros{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; 
    }  
    main .catalogo .libros div{
        width: 100%; 
        max-width: none;
        border: 2px rgb(0, 0, 0);
        width: 200px;
        height: 400px;
        margin: 20px;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 6px rgba(24, 34, 26, 0.507);
        flex-grow: 1; 
    }
    main .catalogo .libros div img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }      
}